@use '../../theme/colors.scss' as colors;

.page-content{
    background: colors.$bg-page-body;
    width:100%;
    min-height: 100vh;    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    padding-left: 4rem;
    padding-right: 4rem;
    .breadcrumb{
    }
}